html, body,
li, ul, ol
input, div, form {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #e9cbcbe0;
font-family: 'Hedvig Letters Serif', serif;}

li{ 
    list-style: none;
}

.header{
 height: 100px;
 background-color: antiquewhite;
}
.header-logo {
    font-size:50px;
    float: left;
    padding: 20px 150px;
    font-family: "Sofia", sans-serif;

}
.header-list li{
    float: left;
    padding: 33px 150px;

}
.flex-container{
    padding: 0;
    display: flex;
    flex-flow: nowrap;
    display: -moz-box;
    flex-direction: row-reverse;
}
.nowrap  { 
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

li.even {

background-color: indianred;
}
li.odd{
    background-color: burlywood;
}
.main {
margin: 100px 210px;
width: 1400px;
}

.content-item h2 {
    border-bottom:2px solid antiquewhite;
    font-weight: 300;
}
button {
    padding-top:12px;
padding-bottom:12px;
padding-left:24px;
padding-right:24px;
color:black;
display:inline-block;
opacity:0.8;
border-radius: 4px;
opacity: 0.5;
}

#btn-counter{
    padding-top:12px;
padding-bottom:12px;
padding-left:24px;
padding-right:24px;
display:inline-block;
opacity:0.8;
border-radius: 4px;
opacity: 0.5;
color: black;


}

p text-counter{
    font-weight: 4000;
}
#drummer{
border: 2px solid antiquewhite;
height:100px;
margin-top:50px;
margin-bottom: 50px;
margin-left: 150px;
margin-right: 150px;
padding-left: 150px;
padding-right: 150px;

}
img{
    margin-top: 50px;
    margin-bottom: 200px;
}

.footer {
height: 120px;
background-color: antiquewhite;
margin-top: 1200px;

}
.footer-logo{
    padding-left: 100px;
    font-size: 25px;
}

/*I made several changes based on the assignment rubric:
1. I organized in a better matter the CSS elements
2. I'm adding this commenting
3. Coluors implementation
4. Google font implementation on the primary heading "GRACIELA"
5. FLEX- container for mobile element on line 32  */
