

body{background-color: #e9cbcbe0;}

h1{color: rgb(56, 6, 6);}

h1{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif; font-size: 50px; padding-top: 3cm;padding-bottom: 2cm; padding-left: 3cm;
padding-right: 6cm;}
    
h1{background-color: #ce7e7e; margin: 100px;}

header{background-color: rgb(205, 180, 147);}

h2{color: #500202e0;}

main{background-color: rgb(205, 180, 147);}

h2{background-color: #ce7e7ee0;}

h2{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;}

body{line-height: 2.0em;}


